#wrapper{
	position:relative;
	width:986px;
	text-align:left;
	font-family:Arial,Helvetica,Sans-serif;
}

.blind{display:block;overflow:hidden;position:absolute;left:0;top:-5000px;}

/********************* // sub // */
/*********************** top */
#skipmenu{display:none}
#top_area{position:relative;width:986px;height:65px;}
#top_area h1{float:left;padding-top:19px;}
#top_area ul{float:right;padding-top:6px;}
#top_area ul li{float:left;color:#666666}
#top_area #gnb_top {position:absolute;right:13px; top:0; z-index:5; width:986px; }
#top_area #gnb_top .util {position:absolute;left:450px; top:0; width:561px; padding-top:4px; text-align:right; z-index:99;color:#ffffff;}
#top_area #gnb_top .util ul{font-size:11px;color:#007AC3;}
#top_area #gnb_top .util li a{color:#007AC3;}
#top_area #gnb_top .util li.box {width:100px; z-index:100; text-align:left;}
#top_area #gnb_top .util li div.sec {position:absolute; top:0; left:0; width:100px; z-index:100}
#top_area #gnb_top .util li div.sec_o {position:absolute; top:0; left:0; background-color:#FFFFFF;  width:100px;  z-index:100; height:110px;}
#top_area #gnb_top .util li div.sec_o p.right {padding-bottom:5px;}
#top_area #gnb_top .util li div.sec_o div.set {border-top:1px dotted #9B9B9B; width:90px; margin-left:5px;margin-top:5px; height:1px;}
#top_area #gnb_top .util li div.sec_o div.language_s p {clear:both; font-size:11px; color:#7E7E7E;font-weight:normal;}
#top_area #gnb_top .util li div.sec_o div.language_s p a {font-size:11px; color:#7E7E7E;font-weight:normal;}
#top_area #gnb_top .util li div.sec_o {color:#7E7E7E;font-weight:normal;}
#top_area #gnb {position:absolute;left:0px;top:258px; z-index:2;}


#contnet_area{width:986px;padding:0px 0 0 16px; }
#contnet_Mainarea{width:986px;padding:2px 0 0 4px; }
#contnet_area #title{float:left;width:986px;height:74px;padding:6px 0 0px 0;background:url('../../images/common/bg_title_986.jpg') no-repeat;}
#contnet_area #title #navi{float:right;padding-right:10px;padding-left:18px;color:#858585;font-size:11px;height:17px;}
#contnet_area #title #catetop{float:left;padding-left:18px;padding-top:30px;color:#007AC3;font-size:18px;height:70px;}

#content{float:left;width:986; min-height:678px;margin-top:5px;padding:0px 0 0 4px}
#maincontnet{float:left;width:986px;margin:0 0 0px 2px;padding:0px 0 0 4px;height:1% }
#maincontnet02{float:left;width:986px;margin:0 0 3px 6px;padding:0 0 0 5px;height:1% }


/*- Menu Tabs 5--------------------------- */
#content #tabs5
{
	width: 100%;
	margin: 0 0 0 0;
}
#content #tabs5 {
      float:left;
      width:100%;      
      font-size:93%;
      line-height:normal;

      }
#content #tabs5 ul {
          margin:0;
          padding:0 10px 0 0;
          list-style:none;
      }
#content #tabs5 li {
      display:inline;
      margin:0;
      padding:0;
      }
#content  #tabs5 a {
      float:left;
      background:url("../../images/bg/tableft5.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
#content #tabs5 a span {
      float:left;
      display:block;
      background:url("../../images/bg/tabright5.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
  
#content  #tabs5 a span {float:none;}
   
#content  #tabs5 a:hover span {
      color:#FFF;
      }
.content #tabs5 a:hover {
      background-position:0% -42px;
      }
#content  #tabs5 a:hover span {
      background-position:100% -42px;
      }

#content  #tabs5 #current a {
              background-position:0% -42px;
      }
#content  #current a span {
              background-position:100% -42px;
      }

#content .img_txt_list #tablayer {
      float:left;
      width:95%;      
      font-size:93%;
      line-height:normal;
	  margin: 0px 12px 4px 0;
border-right: solid 1px #dedede;
border-left: solid 1px #dedede;
      }




#content.noline{border-right:0px;}
*html #content{height:678px;}
p.top_txt{padding-bottom:29px;}

#right_area{float:left; width:272px; padding-left:22px;}
*html #right_area{float:left;padding-left:15px;height:678px}
#right_area.noline{border:0px;}
#right_area #right_bg{background-color:#F0F0EE; overflow:hidden;}
#right_area #right_bg .tab{height:26px; width:217px; background:url('../../images/bg/ol_tab_bg.gif') repeat-x 0 15px; margin:0 auto; padding-top:15px;}
#right_area #right_bg .title{height:20px; width:217px; border-bottom:1px dotted #757575; margin:0 auto; padding-top:15px;}

#right_area #top_list{width:217px; margin:0 auto; padding-top:9px;}
#right_area #top_list ul {clear:both; height:33px; margin:0 0 8px 0;}
#right_area #top_list li{float:left;}
#right_area #top_list li.click_cont {width:168px;}

#right_area #top_list2{width:217px; margin:0 auto;padding-top:; padding:9px 0 10px 0;}
#right_area #top_list2 ul {clear:both;}
#right_area #top_list2 li{float:left; margin:0 8px 8px 0; width:100px;}
#right_area #top_list2 li a.on {color:#974680;font-weight:bold; text-decoration:none;}

#right_area #top_list3{width:217px; margin:0 auto;padding-top:; padding:9px 0 10px 0;}
#right_area #top_list3 ul {clear:both;}
#right_area #top_list3 li{margin:0 8px 8px 0; width:210px;}
#right_area #top_list3 li a.on {color:#974680;font-weight:bold; text-decoration:none;}

#right_area #right_box {width:272px;background:url('../../images/bg/ol_right_boxbg.gif') repeat-y; margin-top:8px;}
#right_area #right_box .box {width:272px; margin:0 auto; padding:17px 0 17px 0;}
#right_area #right_box .box ul {border-bottom:1px dotted #757575; padding-bottom:12px; margin-bottom:12px;}
#right_area #right_box .box .title {margin-bottom:9px;}
#right_area #right_box .box li {text-decoration:none;color:#666666;font-weight:bold;}
#right_area #right_box .box li.link a {text-decoration:none;color:#666666;font-weight:bold;}
#right_area #right_box .box li a {color:#586509;font-weight:bold; text-decoration:underline;}


#right_area #survey{width:255px;margin-top:9px}
#right_area #survey p.title{width:206px;padding-left:8px;height:18px;background:#C5C5C5}
#right_area #survey ul{background:#ffffff;width:214px;height:48px}
#right_area #survey ul li{float:left;}
#right_area #survey ul li.img{width:58px}
#right_area #survey ul li.con{padding-top:6px;line-height:12px;font-size:11px;width:145px;}
#right_area #survey ul li.con a{color:#222222}

#right_area #survey2{width:214px;margin-top:9px}
#right_area #survey2 p.title{width:206px;padding-left:8px;height:18px;background:#C5C5C5}
#right_area #survey2 ul{background:#ffffff;width:214px;height:48px}
#right_area #survey2 ul li{float:left;}
#right_area #survey2 ul li.img{width:58px}
#right_area #survey2 ul li.con2{padding:8px 0 0 8px;line-height:16px;font-size:11px;width:185px;}
#right_area #survey2 ul li.con2 a{color:#222222}

#right_area #friend_korea{border:2px solid #CCCCCC;padding:2px;overflow:hidden;background:#ffffff;margin-top:5px}
#right_area #friend_korea p.title{height:35px}
#right_area #friend_korea p.s_img{padding:0 0 10px 8px}
#right_area #friend_korea p.con{padding:0 0 10px 12px;width:187px;line-height:18px;}

#footer_area{float:left;margin-top:10px;}
#footer_area p {padding:5px 0 0 0;margin-left:100px;}


#badge_txt {padding:22px 0 0 21px;}
.badge_box {background:url('../../images/bg/ol_badge_box.gif') no-repeat; width:631px; height:81px;}
.badge_box xmp { padding:26px 0 0 17px;}
.badge_btn {text-align:right; padding:10px 31px 0 0; }


