/* Main Page Layout  ---------------------------------------------------------------------*/




ul.column1, ul.column2
{
	list-style-type:none;
	margin:0;
	padding:0;
}


/* One Column Layout ---------------------------------------------------------------------*/
.parentOneColumn{
	
}

/*
 * Content Box adds 17px padding and 1px border to each side, leaving us with 950px inside;
 */
.parentOneColumn .mainContent {
}
.parentOneColumn .mainContent .contentBox .subTwoColumn .column1{
	width:38.8333em;
	float:left;
}
.parentOneColumn .mainContent .contentBox .subTwoColumn .column2{
	width:38.8333em;
	float:right;
}
.parentOneColumn .mainContent .contentBox .subThreeColumn .column1, 
.parentOneColumn .mainContent .contentBox .subThreeColumn .column2
{
	width:25.3333em;
	float:left;
	margin-right:1.5em;
}
.parentOneColumn .mainContent .contentBox .subThreeColumn .column3{
	width:25.3333em;
	float:left;
}
.parentOneColumn .mainContent .contentBox .subThreeColumn .column1_2{
	width:52.167em;
	float:left;
	margin-right:1.5em;
}
.parentOneColumn .mainContent .contentBox .subThreeColumn .column2_3{
	width:52.167em;
	float:left;
	margin-right:0;
}
.parentOneColumn .mainContent .contentBox .subFourColumn .column1,
.parentOneColumn .mainContent .contentBox .subFourColumn .column2,
.parentOneColumn .mainContent .contentBox .subFourColumn .column3{
	width:18.66667em;
	float:left;
	margin-right:1.5em;
}
.parentOneColumn .mainContent .contentBox .subFourColumn .column4
{
	width:18.66667em;
	float:left;
	margin-right:0;
}
.parentOneColumn .mainContent .contentBox .subFourColumn .column1_2,
.parentOneColumn .mainContent .contentBox .subFourColumn .column2_3
{
	width:38.83333em;
	margin-right:1.5em;
	float:left;
}
.parentOneColumn .mainContent .contentBox .subFourColumn .column3_4
{
	width:38.83333em;
	margin-right:0;
	float:left;
}
.parentOneColumn .mainContent .contentBox .subFourColumn .column1_2_3
{
	width:59em;
	margin-right:1.5em;
	float:left;
}
.parentOneColumn .mainContent .contentBox .subFourColumn .column2_3_4
{
	width:59em;
	margin-right:0;
	float:left;
}

/* Wide Two Column Layout
 ---------------------------------------------------------------------*/


/* Normal Two Column Layout
 ---------------------------------------------------------------------*/

.parentTwoColumn .mainContent
{
	float:left;
	width:57.333em;
}

/* Non Content Box 2 column
 ---------------------------------------------------------------------*/

.parentTwoColumn .mainContent .subTwoColumn{height:1%}
.parentTwoColumn .mainContent .subTwoColumn .column1
{
	width:26em;
	float:right;
	margin-right:.83333em;	
}
.parentTwoColumn .mainContent .subTwoColumn .column2
{
	width:26.25em;
	float:left;
}


/*
 * Content Box adds 17px padding and 1px border to each side, leaving us with 604px inside;
 */

.parentTwoColumn .mainContent .contentBox .subTwoColumn
{
	width:50.33333em;
}
.parentTwoColumn .mainContent .contentBox .subTwoColumn .column1
{
	width:23.4167em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subTwoColumn .column2
{
	width:23.4167em;
	float:left;	
}
.parentTwoColumn .mainContent .contentBox .subThreeColumn
{
	
}
.parentTwoColumn .mainContent .contentBox .subThreeColumn .column1
{
	width:15.75em;
	margin-right:1.5em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subThreeColumn .column2
{
	width:15.75em;
	margin-right:1.58333em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subThreeColumn .column3
{
	width:15.75em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subThreeColumn .column1_2
{
	width:33em;
	margin-right:1.58333333em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subThreeColumn .column2_3
{
	width:33em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subFourColumn .column1
{
	width:11.4167em;
	margin-right:1.5em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subFourColumn .column2,
.parentTwoColumn .mainContent .contentBox .subFourColumn .column3
{
	width:11.4167em;
	margin-right:1.58333333em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subFourColumn .column4
{
	width:11.4167em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subFourColumn .column1_2
{
	width:24.3333em;
	margin-right:1.5833333em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subFourColumn .column2_3
{
	width:24.416667em;
	float:left;
	margin-right:1.5833333em;
}
.parentTwoColumn .mainContent .contentBox .subFourColumn .column3_4
{
	width:24.4167em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subFourColumn .column1_2_3
{
	width:37.3333em;
	margin-right:1.58333333em;
	float:left;
}
.parentTwoColumn .mainContent .contentBox .subFourColumn .column2_3_4
{
	width:37.4167em;
	margin-right:0;
	float:left;
}


.parentTwoColumn .subContent1
{
	float:right;
	width:23.1em;
}
.subPro02 .subContent1
{	
	float:right;
	width:23.1em;
	margin-top:5px;
}
.subPro01 .subContent1
{	
	float:right;
	width:23.1em;
	margin-top:0px;
}
.parentTwoColumn .subContent1 .subTwoColumn .column1 
{
	float:left;	
	margin-right:1.5em;
	width:11.75em;
	overflow:hidden;	
}
.parentTwoColumn .subContent1 .subTwoColumn .column2
{
	float:left;
	width:11.75em;
}



/* Wide Two Column Layout
 ---------------------------------------------------------------------*/

.parentTwoColumnSpecial .mainContent
{
	float:left;
	width:61.666666em;
}

/*
 * Content Box adds 17px padding and 1px border to each side, leaving us with 704px inside;
 */

.parentTwoColumnSpecial .mainContent .contentBox .subTwoColumn
{
	width:58.66667em;
	
}
.parentTwoColumnSpecial .mainContent .contentBox .subTwoColumn .column1
{
	width:28.5em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subTwoColumn .column2
{
	width:28.5em;
	float:right;
}
.parentTwoColumnSpecial .mainContent .contentBox .subTwoColumn
{
	width:55.66667em;
	
}
.parentTwoColumnSpecial .mainContent .contentBox .subTwoColumn .column1
{
	width:27.08333em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subTwoColumn .column2
{
	width:27.08333em;
	float:right;
}
.parentTwoColumnSpecial .mainContent .contentBox .subThreeColumn
{
	
}
.parentTwoColumnSpecial .mainContent .contentBox .subThreeColumn .column1
{
	width:18.5em;
	margin-right:1.583333em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subThreeColumn .column2
{
	width:18.5em;
	margin-right:1.58333em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subThreeColumn .column3
{
	width:18.5em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subThreeColumn .column1_2
{
	width:38.583333em;
	margin-right:1.5833em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subThreeColumn .column2_3
{
	width:38.583333em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column1
{
	width:13.5em;
	margin-right:1.5em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column2,
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column3
{
	width:13.5em;
	margin-right:1.58333333em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column4
{
	width:13.5em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column1_2
{
	width:28.5em;
	margin-right:1.5833333em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column2_3
{
	width:28.583333em;
	float:left;
	margin-right:1.5833333em;
}
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column3_4
{
	width:28.583333em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column1_2_3
{
	width:43.58333em;
	margin-right:1.58333333em;
	float:left;
}
.parentTwoColumnSpecial .mainContent .contentBox .subFourColumn .column2_3_4
{
	width:43.66666em;
	margin-right:0;
	float:left;
}

.parentTwoColumnSpecial .subContent1
{
	float:right;
	width:19.6667em;
	
}
.parentTwoColumnSpecial .subContent1 .subTwoColumn
{
	width:16.6666em;
}
.parentTwoColumnSpecial .subContent1 .subTwoColumn .column1
{
	float:left;
	margin-right:1.5em;
	width:7.583333em;
}
.parentTwoColumnSpecial .subContent1 .subTwoColumn .column2
{
	float:left;
	width:7.583333em;
}



