/*- Menu Tabs 5--------------------------- */

#content #tabs5
{
	width: 100%;
	margin: 0 0 0 0;
}
#content #tabs5 {
      float:left;
      width:100%;      
      font-size:100%;
      line-height:normal;

      }
#content #tabs5 ul {
          margin:0;
          padding:0 10px 0 0;
          list-style:none;
      }
#content #tabs5 li {
      display:inline;
      margin:0 0 0 0;
      padding:0 0 0 0;
      }
#content  #tabs5 a {
      float:left;
      background:url("../../orms/images/bg/tableft5.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
#content #tabs5 a span {
      float:left;
      display:block;
      background:url("../../orms/images/bg/tabright5.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
  
#content  #tabs5 a span {float:none;}
   
#content  #tabs5 a:hover span {
      color:#ff4800;
      }
.content #tabs5 a:hover {
      background-position:0% -42px;
      }
#content  #tabs5 a:hover span {
      background-position:100% -42px;
      }

#content  #tabs5 #current a {
              background-position:0% -42px;
      }
#content  #current a span {
              background-position:100% -42px;
      }

#content .img_txt_list #tablayer {	
    float:left;
    width:100%;      
    font-size:93%;
    line-height: normal;
	margin: 0px 12px 4px 0;
	border-right: solid 1px #dedede;
	border-left: solid 1px #dedede;
      }

p.join_title_tab{height:0px; margin-bottom:0px; width:685px; border-bottom:solid 1px #dedede; font-size:20px;}